<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/procesos"></ion-back-button>
        </ion-buttons>

        <ion-title>Prueba de vacio</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form #f="ngForm" (ngSubmit)="guardarVacio(f)">
        <br>
        <br>
        <ion-item>
            <ion-label position="floating">Tiempo de vaciado (min)</ion-label>
            <ion-input ngModel name="tiempo" type="number"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Avería en el Sistema?</ion-label>
            <ion-select ngModel name="averia" placeholder="Seleccione">
                <ion-select-option value="SI">SI</ion-select-option>
                <ion-select-option value="NO"> NO</ion-select-option>
            </ion-select>

        </ion-item>


        <br>
        <br>
        <ion-button expand="full" type="submit">Guardar</ion-button>


    </form>
</ion-content>